header{
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 200vh;
}

body{
    margin: 0;
    padding: 0;
    background-color: #161616;
}

body header nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

body header nav span{
    font-family: 'American Captain';
    font-weight: 400;
    font-size: 56px;
    line-height: 56px;
    color: #FFFFFF;
    padding-left: 10%;
}

body header nav ul{
    list-style: none;
}

body header nav ul li a{
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    text-decoration: none;
}

.navbutton{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

.button{
    display: grid;
    justify-content: end;
    padding-right: 17%;
}

.button li a{
    border: 1px solid white;
    padding: 5px 30px;
    border-radius: 8px;
}

.textbut{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    color: white;
}

h1{
    color: white;
}

h2{

}

h3{
    color: white;
}

.textbut h1{
    font-family: 'American Captain';
    font-style: normal;
    font-weight: 400;
    font-size: 130px;
    line-height: 130px;
    text-align: right;
    width: 45%;
    padding-right: 5%;
}

.textbut h3{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    text-align: right;
    width: 15%;
    padding-right: 5%;
    margin-top: -4%;
}

.textbut button{
    background: none;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    padding: 12px 28px;
    margin-right: 5%;
    margin-bottom: 15%;
}

.about-us{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-us h1{
    font-family: 'American Captain';
    font-style: normal;
    font-weight: 400;
    font-size: 130px;
    line-height: 130px;
    text-align: center;
    margin-bottom: 40px;
}

.about-us div.structure {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    margin-bottom: 3%;
}

.about-us div p{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    padding-left: 5%;
}

.about-us div img{
   padding-left: 5%;
}

.about-us h2{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 200px;
    line-height: 239px;
    text-transform: lowercase;
    color: #373737;
    opacity: 0.3;
    position: absolute;
    z-index: -1;
    top: 1450px;
    right: 0;
}

.benefits{
    background-color: #1A191A;
}

.benefits img#circle-line{
  position: absolute;
}

.benefits img#circle-line2{
    position: absolute;
    top: 2480px;
    left: 1695px;
}

.structure{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.structure h1{
    font-family: 'American Captain';
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 110px;
    text-align: center;
    width: 70%;
    margin-bottom: 10px;
}

.structure h3{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-top: 0;
}

.structure2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.structure2 div{
    width: 430px;
    height: 400px;
    border-radius: 16px;
    margin-top: 100px;
    margin-right: 80px;
}

.card{
    text-align: center;
    margin-bottom: 90px;
}

.card img{
    margin-top: -90px;
}

.card h2{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.card p{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    padding: 0 20px 0 20px;
}

.card a{
    color: #FFFFFF;
    font-family: 'SF Pro Display';
    font-size: 24px;
}

.green{
    background: rgba(0, 221, 168, 0.5);
}

.red{
    background: rgba(207, 41, 41, 0.6);
}

.blue{
    background: rgba(0, 88, 221, 0.6);
}

.cars h1{
    margin: 50px 50px 20px;
    font-family: 'American Captain';
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
}

.cars p{
    margin: 20px 50px 2em;
    font-family: 'SF Pro Display';
    font-size: 24px;
    color: #FFFFFF;
}

.cars div.structure2{
    width: 97%;
}

.amazed{
    background-color: #1A191A;
    padding: 3%;
}

.amazed div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.amazed div h1{
    font-family: 'American Captain';
    font-style: normal;
    font-weight: 400;
    font-size: 130px;
    line-height: 130px;
    color: #FFFFFF;
    width: 40%;
    margin: 0px 0px 20px 0px;
    z-index: 1;
}

.amazed div h3{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
    width: 23%;
}

.amazed video{
    width: 1750px;
    border: none;
    border-radius: 20px;
}

.star{
    position: absolute;
    top: 3600px;
    left: 0;
    z-index: 0;
}

.contact-us{
    display: flex;
    align-items: center;
    padding: 3% 3% 5%;
}

.contact-us h2{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-size: 245px;
    line-height: 295px;
    color: #373737;
    z-index: -1;
    position: absolute;
    left: -30px;
    top: 4500px;
    opacity: 0.3;
}

.contact-us h1{
    font-family: 'American Captain';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    color: #FFFFFF;
    margin: 70px 0 0px;
}

.contact-us h3{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 30.08px;
    line-height: 50px;
    width: 57%;
    margin: 0;
    color: #FFFFFF;
}

.contact-us div.structure{
    display: grid;
    grid-template-rows: repeat(3,100px);
    grid-template-columns: repeat(2,300px);
}

.contact-us div.structure input[type="text"]{
    width: 95%;
    padding: 0 0 5px 0;
    background-color: #161616;
    color: white;
    border: none;
    border-bottom: 1px solid white;
}

.contact-us div.structure select{
    border: none;
    background: #161616;
    border-bottom: 1px solid white;
    padding: 0 0 5px 0;
    color: white;
}

.contact-us div.structure input.text{
    width: 200%;
}

.contact-us input[type="submit"]{
    background-color: #161616;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 30px;
}

.map img{
    width: 100%;
}

footer{
    padding: 50px 0;
    display: grid;
    grid-template-rows:repeat(8,30px) ;
    grid-template-columns: repeat(5,20%);
    align-items: center;
    justify-content: center;
}

footer div{
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 17px;
    line-height: 11px;
    color: #BDBDBD;
}

footer div a{
    color: #FFFFFF;
    text-decoration: none;
}

footer div.logo{
    font-family: 'American Captain';
    font-weight: 400;
    font-size: 100px;
    line-height: 100px;
    color: #FFFFFF;
}

footer div.first-row{
    font-family: 'SF Pro Display';
    font-weight: 500;
    font-size: 35px;
    line-height: 32px;
    letter-spacing: -0.019em;
    text-transform: capitalize;
    color: #FFFFFF;
}